[View in Colaboratory](https://colab.research.google.com/github/tkms0106/python-data-science/blob/master/python_data_science4_40.ipynb)

In [0]:
import numpy as np
from pandas import DataFrame

In [0]:
np.random.seed(12345)

In [0]:
dframe = DataFrame(np.random.randn(1000,4))

In [4]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [5]:
dframe.tail()

            0         1         2         3
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

In [6]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [0]:
col = dframe[0]

In [8]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [9]:
col[np.abs(col)>3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [10]:
np.abs(dframe)>3

         0      1      2      3
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
5    False  False   True  False
6    False  False  False  False
7    False  False  False  False
8    False  False  False  False
9    False  False  False  False
10   False  False  False  False
11   False  False  False  False
12   False  False  False  False
13   False  False  False  False
14   False  False  False  False
15   False  False  False  False
16   False  False  False  False
17   False  False  False  False
18   False  False  False  False
19   False  False  False  False
20   False  False  False  False
21   False  False  False  False
22   False  False  False  False
23   False  False  False  False
24   False  False  False  False
25   False  False  False  False
26   False  False  False  False
27   False  False  False  False
28   False  False  False  False
29   False  False  False  False
..     ...    ...    ...    ...
970  False  False  False  False
971  False  False  False  False
972  False  False  False  False
973  False  False  False  False
974  False  False  False  False
975  False  False  False  False
976  False  False  False  False
977  False  False  False  False
978  False  False  False  False
979  False  False  False  False
980  False  False  False  False
981  False  False  False  False
982  False  False  False  False
983  False  False  False  False
984  False  False  False  False
985  False  False  False  False
986  False  False  False  False
987  False  False  False  False
988  False  False  False  False
989  False  False  False  False
990  False  False  False  False
991  False  False  False  False
992  False  False  False  False
993  False  False  False  False
994  False  False  False  False
995  False  False  False  False
996  False  False  False  False
997  False  False  False  False
998  False  False  False  False
999  False  False  False  False

[1000 rows x 4 columns]

In [11]:
dframe[(np.abs(dframe)>3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [12]:
np.sign(dframe)

       0    1    2    3
0   -1.0  1.0 -1.0 -1.0
1    1.0  1.0  1.0  1.0
2    1.0  1.0  1.0 -1.0
3    1.0  1.0  1.0  1.0
4   -1.0 -1.0  1.0 -1.0
5   -1.0  1.0  1.0 -1.0
6   -1.0  1.0  1.0  1.0
7    1.0  1.0 -1.0 -1.0
8   -1.0 -1.0 -1.0  1.0
9   -1.0  1.0 -1.0  1.0
10  -1.0 -1.0 -1.0 -1.0
11  -1.0  1.0  1.0 -1.0
12   1.0  1.0  1.0  1.0
13  -1.0  1.0  1.0 -1.0
14  -1.0  1.0  1.0 -1.0
15   1.0 -1.0  1.0  1.0
16   1.0 -1.0 -1.0 -1.0
17  -1.0 -1.0 -1.0  1.0
18   1.0  1.0  1.0 -1.0
19  -1.0 -1.0 -1.0  1.0
20   1.0 -1.0  1.0  1.0
21   1.0  1.0 -1.0  1.0
22  -1.0  1.0  1.0  1.0
23  -1.0  1.0  1.0  1.0
24   1.0 -1.0  1.0  1.0
25  -1.0 -1.0 -1.0 -1.0
26  -1.0 -1.0  1.0  1.0
27  -1.0  1.0 -1.0  1.0
28   1.0 -1.0 -1.0 -1.0
29   1.0 -1.0  1.0 -1.0
..   ...  ...  ...  ...
970  1.0  1.0  1.0 -1.0
971 -1.0 -1.0 -1.0  1.0
972  1.0  1.0 -1.0 -1.0
973 -1.0  1.0  1.0 -1.0
974 -1.0 -1.0  1.0 -1.0
975 -1.0 -1.0  1.0 -1.0
976  1.0  1.0  1.0  1.0
977 -1.0  1.0  1.0  1.0
978  1.0 -1.0  1.0  1.0
979  1.0  1.0 -1.0  1.0
980 -1.0 -1.0 -1.0 -1.0
981 -1.0  1.0  1.0  1.0
982 -1.0  1.0  1.0  1.0
983 -1.0  1.0  1.0  1.0
984  1.0 -1.0  1.0 -1.0
985 -1.0  1.0  1.0  1.0
986 -1.0 -1.0  1.0 -1.0
987 -1.0 -1.0  1.0 -1.0
988 -1.0  1.0 -1.0 -1.0
989  1.0  1.0  1.0  1.0
990 -1.0 -1.0 -1.0  1.0
991  1.0 -1.0  1.0  1.0
992 -1.0  1.0 -1.0 -1.0
993  1.0  1.0 -1.0  1.0
994  1.0 -1.0  1.0  1.0
995  1.0  1.0 -1.0  1.0
996 -1.0 -1.0 -1.0 -1.0
997 -1.0  1.0  1.0  1.0
998 -1.0 -1.0 -1.0 -1.0
999  1.0  1.0  1.0  1.0

[1000 rows x 4 columns]

In [0]:
dframe[np.abs(dframe)>3] = np.sign(dframe)*3

In [14]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000